body {
    color:050505;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}
p {
    font-style: italic;
}
a {
    text-decoration: none;

}
ul {
    padding: 0;

}
li {
    display: block;
    list-style-type: none;
    padding: 0;
}
img {
    max-width: 100%;
}
header {
    /*width: 750px;*/
}
.mainwrapper {
    padding-top: 12px;
    position: relative;
}
.maincontent {
    border-top: 40px solid #9e0b0f;
}
.header {
    

}    
.button {
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px;
    color: white;
    text-align: center;
    font-size: 1.4em;

    margin: 8px;
}
.searchbutton {
    background-color: #f28f0e;
    /*height: 35px;*/
    /*width:  50px;*/
    /*position: relative;*/
    /*top: 60%;*/
    /*right: 5%;*/
    float: right;




}
.fbButton {
    /*float: right;*/
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
@media screen and (min-width: 690px) {
    .fbButton {
    display: block;
    }
}


.nav {
    /*padding: 5px 15px;*/
    background-color: #060505;
    clear: both;
}

.nav li {
    border-bottom: 2px solid #fff;
}
.nav a {
    color: #fff;
    text-align: center;
    display: block;
    padding: 8px;
}


.textsize {
    font-size: 3em;
}
.musicgroup {
    position: relative;
}

.musicgroup  {
    position: relative;
    
}

.stagegroup {
    position: relative;
}
.stageButton{
    background-color: #0d42da;
    color: white;
    padding: 4px;
    position:absolute;
    top: 0;
    left: 0;
}
.musicButton {
    background-color: #f21a1a;
    color: white;
    /*z-index: 10;*/
    padding: 4px;
    position:absolute;
    top: 0;
    left: 0;
    /*position: top;*/
   /*position: left;*/
    /*position: 0;*/
}
.familyandkids {
    position: relative;

}

.familyButton {
    background-color: #017337;
    color: white;
    padding: 4px;
    position:absolute;
    top: 0;
    left: 0;
}
.visualart {
    position: relative;
}
.visualartsButton {
       background-color: #2098c8;
       color: white;
       padding: 4px;
       position:absolute;
       top: 0;
       left: 0;
}
footer {
    background-color: #060505; 
    color: white;
    /*padding: 10px;*/
    /*text-align: center;*/

}
footer a {
    color: white;
}


.clearfix {
    zoom:1;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}



@media screen and (min-width: 700px){

    .nav{
        background-color: #ac0d10;
        text-align: center;
    }

    .nav li {
        border-bottom: none;
        display: inline-block;
    }

    .nav a {
        padding: 20px;
        font-size: 1.2em;
  
    }
    .pagecontent {
        max-width: 90%;
        margin:0 auto;
    }
    .maincontent {
        border-top: none;
    }
    .searchbutton {
    background-color: #f28f0e;
    /*height: 35px;*/
    /*width:  50px;*/
    position: relative;
    top: 60%;
    right: 5%;
    /*float: right;*/

} 
.imagebox {
    max-width: 95%;
    margin: 0 auto;
  
}
.float {
    float: left;
    margin-right: 5px;
}
/*.mainwrapper ul {*/
    /*display: block;*/
}
.footerwrapper li  {
        display: block;

}
.floatleft {
    float: left;
    margin-right: 10px;
}
.footergroup {
    margin-left: 10%

}
.bottomgroup {

/*.mainwrapper a {*/
    /*display: inline-block;*/



/* END media querie 700px */


/*.mainNav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 20px 5px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    background: #bd1217;
    
}
.mainNav li {
        display: inline;
        color: white;

}
.mainNav a {
    display:block;
    float: left;
    width: 20%;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    padding: 15px 0;
    text-align: center;
}*/

